@reference "../../../index.css";

.history-table {
    @apply table;
    @apply border-2;
    @apply border-collapse;
    @apply w-full;
    @apply max-w-3xl;
    @apply mt-4;
}

.history-table thead {
    border-bottom: 1px solid;
}

.history-table tr:nth-child(even) {
    background-color: #f2f2f2;
    color: var(--table-row-even-color);
}
