.history-table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
}

.history-table thead {
    border-bottom: 1px solid;
}

.history-table tr:nth-child(even) {
    background-color: #f2f2f2;
    color: var(--table-row-even-color);
}
